[submodule "speroc"]
	path = speroc
	url = https://github.com/hGriff0n/speroc
[submodule "vs-spero"]
	path = vs-spero
	url = https://github.com/hGriff0n/vs-spero
[submodule "Spark"]
	path = Spark
	url = https://github.com/hGriff0n/Spark
[submodule "spero-www"]
	path = spero-www
	url = https://github.com/hGriff0n/spero-www
